body {
  font-family: 'Montserrat', sans-serif;
}

.box1 {
  background: salmon;
}

.box2 {
  background: darkgray;
}

.box3 {
  background: lightgray;
}

.box4 {
  background: darkgray;
}

.box5 {
  background: lightgray;
}

.box6 {
  background: salmon;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 50px 50px;
}
