body {
  font-family: 'Montserrat', sans-serif;
}

.box1 {
  background: tomato;
}

.box2 {
  background: blueviolet;
}

.box3 {
  background: khaki;
}

.box4 {
  background: skyblue;
}

.box5 {
  background: orangered;
}

.container {
  display: grid;
  grid-template-columns: 10px 20px 30px 50px 100px;
  grid-template-rows: 50px;
}