body {
  font-family: 'Montserrat', sans-serif;
}

.box1 {
  background: lightgray;
}

.box2 {
  background: darkgray;
}

.box3 {
  background: lightgray;
}

.box4 {
  background: darkgray;
}

.box5 {
  background: lightgray;
}

.box6 {
  background: darkgray;
}

.box7 {
  background: lightgray;
}

.box8 {
  background: darkgray;
}

.box9 {
  background: lightgray;
}

.container {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-template-rows: 50px 50px 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
